main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5em;
}

#gameboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
}

.gameboard-row {
  flex: 1 50px;
  display: flex;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  display: flex;
  border: 1px solid black;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  width: 25%;
  height: 2.5rem;
  line-height: 1em;
}

.tile-letter-not-contained {
  background-color: rgb(120, 124, 106);
  color: white;
}

.tile-letter-contained {
  background-color: rgb(201, 180, 88);
  color: white;
}

.tile-letter-matched {
  background-color: rgb(106, 170, 100);
  color: white;
}

#keyboard {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
}

.keyboard-row {
  display: flex;
  gap: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.key {
  display: flex;
  flex: 1 80px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13.3px;
  font-weight: 700;
  height: 2.5rem;
}

.key-function {
  flex: 1 80px;
}

.key-state-default {
  background-color: rgb(211, 214, 218);
  border-radius: 0.25rem;
}

.key-state-not-contained {
  background-color: rgb(120, 124, 106);
  color: white;
}

.key-state-contained {
  background-color: rgb(201, 180, 88);
  color: white;
}

.key-state-matched {
  background-color: rgb(106, 170, 100);
  color: white;
}
